<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <import resource="spring-common.xml"/>
    
    <bean id="xmlFileReader" class="uk.co.mindbadger.footballresults.reader.XMLFileReader">
    </bean>

    <bean id="reader" class="uk.co.mindbadger.footballresults.reader.SoccerbaseXMLReader">
        <property name="xmlFileReader" ref="xmlFileReader"/>
        <property name="rootDirectory" value="C:\\checkouts\\FootballResultsLoader\\testdata"/>
    </bean>
    
    <bean id="loader" class="uk.co.mindbadger.footballresults.loader.FootballResultsLoader">
       <property name="dialect" value="soccerbase"/>
       <property name="dao" ref="dao"/>
       <property name="domainObjectFactory" ref="domainObjectFactory"/>
       <property name="reader" ref="reader"/>
    </bean>
</beans>
