<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<bean id="props" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
<!--
	  <property name="locations" value="file:///C:/Mark/appConfig/database.properties"/>
 -->
 		<property name="locations" value="file:///C:/Mark/appConfig/mongo.properties"/>
	</bean>

  <bean id="xmlFileReader" class="uk.co.mindbadger.xml.XMLFileReader">
  </bean>

  <bean id="xmlFileWriter" class="uk.co.mindbadger.xml.XMLFileWriter">
  </bean>
  
  <bean id="mapping" class="uk.co.mindbadger.footballresults.loader.mapping.FootballResultsMapping">
      <constructor-arg value="C:\\Mark\\appConfig\\fra_mapping.xml"/>
      <constructor-arg ref="xmlFileReader"/>
      <constructor-arg ref="xmlFileWriter"/>
  </bean>
  
  <bean id="domainObjectFactory" class="uk.co.mindbadger.footballresultsanalyser.domain.DomainObjectFactoryImpl">
  </bean>

<!--
  <bean id="dao" class="uk.co.mindbadger.footballresultsanalyser.dao.FootballResultsAnalyserHibernateDAO">
      <property name="domainObjectFactory" ref="domainObjectFactory"/>
      <property name="sessionFactory" ref="sessionFactory"/>
  </bean>
-->

  <bean id="dao" class="uk.co.mindbadger.footballresultsanalyser.dao.FootballResultsAnalyserMongoDAO">
      <property name="domainObjectFactory" ref="domainObjectFactory"/>
      <property name="mongoHost" value="${mongoHost}" />
      <property name="db" value="${mongoDb}" />
  </bean>

  <bean id="saver" class="uk.co.mindbadger.footballresults.loader.FootballResultsSaver">
  	<property name="dialect" value="soccerbase"/>
  	<property name="dao" ref="dao"/>
  	<property name="mapping" ref="mapping"/>
  </bean>
  
  <bean id="loader" class="uk.co.mindbadger.footballresults.loader.FootballResultsLoader">
    <property name="reader" ref="reader"/>
    <property name="saver" ref="saver"/>
    <property name="dao" ref="dao"/>
  </bean>

  <bean name="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
    <property name="driverClassName" value="${database.driver_class}" />
    <property name="url" value="${database.url}" />
    <property name="username" value="${database.username}" />
    <property name="password" value="${database.password}" />
  </bean>

  <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
    <property name="sessionFactory" ref="sessionFactory"/>
    <property name="dataSource" ref="dataSource"/>
  </bean>

  <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
	<property name="dataSource" ref="dataSource"/>
    <property name="packagesToScan" value="uk.co.mindbadger.footballresultsanalyser.domain"/>
	<property name="hibernateProperties">
		<props>
			<prop key="hibernate.c3p0.min_size">5</prop>
			<prop key="hibernate.c3p0.max_size">20</prop>
			<prop key="hibernate.c3p0.timeout">300</prop>
			<prop key="hibernate.c3p0.max_statements">50</prop>
			<prop key="hibernate.c3p0.idle_test_period">3000</prop>
			<prop key="hibernate.hbm2ddl.auto">none</prop>
  			<prop key="hibernate.dialect">${database.dialect}</prop>
			<prop key="hibernate.show_sql">false</prop>
		</props>
    </property>
  </bean>
  
   
  <!--  
  
   <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
      <property name="dataSource" ref="dataSource" />
      <property name="mappingResources">
        <list>
          <value>hibernatemapping/Division.hbm.xml </value>
          <value>hibernatemapping/Fixture.hbm.xml </value>
          <value>hibernatemapping/Season.hbm.xml </value>
          <value>hibernatemapping/SeasonDivision.hbm.xml </value>
          <value>hibernatemapping/SeasonDivisionTeam.hbm.xml </value>
          <value>hibernatemapping/Team.hbm.xml </value>
        </list>
      </property>
      <property name="hibernateProperties">
        <props>
          <prop key="hibernate.c3p0.min_size">5</prop>
          <prop key="hibernate.c3p0.max_size">20</prop>
          <prop key="hibernate.c3p0.timeout">300</prop>
          <prop key="hibernate.c3p0.max_statements">50</prop>
          <prop key="hibernate.c3p0.idle_test_period">3000</prop>
          <prop key="hibernate.hbm2ddl.auto">none</prop>
          <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
          <prop key="hibernate.show_sql">true</prop>
        </props>
      </property>   
    </bean>

   -->     

</beans>
